[tool.poetry]
name = "simple_ado"
version = "0.13.0"
description = "A simple wrapper around the Azure DevOps REST API"

license = "MIT"

authors = [
    "Dale Myers <dalemy@microsoft.com>"
]

readme = 'README.md'

repository = "https://github.com/Microsoft/simple_ado"
homepage = "https://github.com/Microsoft/simple_ado"

keywords = ['azure', 'devops', 'ado']

classifiers = [
    'Development Status :: 3 - Alpha',
    'Environment :: Console',
    'Environment :: MacOS X',
    'Intended Audience :: Developers',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: 3.7',
    'Topic :: Software Development',
    'Topic :: Utilities'
]

[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.21"

[tool.poetry.dev-dependencies]
mypy = "=0.670"
pylint = "=2.3.1"
pytest = "=4.0.1"
pytest-cov = "=2.6.0"
toml = "^0.10.0"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
